@import "./blocks/header.css";
@import "./blocks/navigation-bar.css";
@import "./blocks/user.css";
@import "./blocks/lections.css";
@import "./blocks/mailing.css";
@import "./blocks/lection.css";

body {
  background: #2B2C3A;
  font-family: "Jost", "Helvetica", sans-serif;
  
}

.wrapper {
  max-width: 1440px;
  position: relative;
}

.additional__background {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
}

.content {
  display: flex;
}

.lections-wrapper {
  display: flex;
  flex-direction: column;
}

.button {
	border: none;
	border-radius: 4px;
	color: #fff;
  height: 30px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 16px rgba(111, 110, 255, 0.5);
}

.label {
  border-radius: 6px;
  color: #fff;
}

.labels {
  display: flex;
  flex-direction: row;
  height: 24px;
}

.labels__label {
  background: rgb(256, 256, 256, .05);
  mix-blend-mode: normal;
  margin-right: 10px;
  font-size: 13px;
  line-height: 26px;
  padding: 0 11px;
}

.labels__label:last-child {
  margin-right: 0;
}

.labels__small-text {
  font-size: 11px;
  line-height: 10px;
}

.flash-icon {
  background-color: #FF4738;
  border-radius: 4px;
  display: inline-block;
  height: 18px;
  left: -6px;
  margin-right: 4px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 18px;
  box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5)
}

.flash-icon__item {
  background: url(../img/flash-icon.svg);
  height: 12px;
  width: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  margin: 18px 0 12px 30px;
}

.logo-container {
  height: 72px;
  width: 280px;
  background: rgba(156, 165, 236, 0.04);
}

.navigation-item {
  list-style-type: none;
}

