.lections {
	margin: 40px 50px 22px 54px;
	color: #fff;
}

.lections__title-container {
	position: relative;
	margin-bottom: 20px;
}

.lections__controls {
	position: absolute;
	bottom: 0;
	right: 0;
}

.lections__subtitle {
	font-size: 11px;
	font-weight: 400;
	margin: 1px 0 0 1px;
	opacity: .4;
	text-transform: uppercase;
}

.lections__title {
	font-size: 22px;
	font-weight: 400;
	margin: 6px 0 0 1px;
}

.lections__cards-container {
	margin-left: 1px;
	display: flex;
	flex-direction: row;
}

.lections__controls {
	display: flex;
	margin-bottom: 4px;
}

.lections__button {
	background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
	margin-right: 10px;
	font-size: 12px;
	padding: 0 13px 0 12px;
}

.lections__arrow-button {
	width: 30px;
	box-sizing: border-box;
	background: #2B2C3A;
	margin-right: 5px;
	position: relative;
}

.button.lections__arrow-button {
	border: 1px solid rgba(255, 255, 255, .15);
}

.lections__arrow-button:last-child {
	margin-right: 0;
}

.lections__arrow-icon {
	height: 10px;
	width: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lections__arrow-icon_direction_left {
	background: url(../../img/left-arrow.svg);
}

.lections__arrow-icon_direction_right {
	background: url(../../img/right-arrow.svg);
}

.lections__arrow-button_direction_right {

}