.lection {
  height: 294px;
	width: 255px;
	border-radius: 6px;
	background: rgba(255, 255, 255, .04);
	position: relative;
	margin-right: 10px;
}

.lection:hover {
	cursor: pointer;
}

.lection:last-child {
	margin-right: 0;
}

.lection__image {
	height: 144px;
	border-radius: 6px 6px 0 0;
}

.lection__label {
	height: 20px;
	width: 50px;
	border-radius: 3px;
	background: #6F6EFF;
	font-size: 12px;
	line-height: 20px;
	padding-left: 6px;
	box-sizing: border-box;
	position: absolute;
	top: 15px;
	left: 15px;
}

.lection__image_background_1 {
	background: url(../../img/background1.jpg);
}

.lection__image_background_2 {
	background: url(../../img/background2.jpg);
}

.lection__image_background_3 {
	background: url(../../img/background3.jpg);
}

.lection__image_background_4 {
	background: url(../../img/background4.jpg);
}

.lection__text-container {
	
}

.lection__title {
	font-weight: 400;
	margin: 13px 0 0 15px;
}

.lection__subtitle {
	font-size: 14px;
	margin: 7px 0 0 15px;
	color: rgba(255, 255, 255, .5);
	max-width: 215px;
}

.lection__bottom-container {
	align-items: center;
	border-top: 1px solid rgba(216, 216, 216, .1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	padding: 12px 15px 8px 15px;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
}

.lection__date {
	font-size: 13px;
}

.lection__button {
	background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
	font-size: 13px;
	line-height: 17px;
	width: 89px;
	position: relative;
	top: -1px;
}