.navigation-bar {
  background: rgba(156, 165, 236, 0.04);
  width: 280px;
  min-width: 280px;
  height: calc(100vh - 72px);
  position: sticky;
  top: 72px;
}
  
.navigation-bar__navigation {
  color: #fff;
  padding-top: 32px;
}
  
.navigation-bar__navigation-list {
  padding-left: 0;
  margin-top: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(216 ,216 ,216 , .06);
}
  
.navigation-bar__navigation-list-item {
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 16px;
  position: relative;
}

.navigation-bar__text:hover {
  cursor: pointer;
}
  
.navigation-bar__navigation-mark {
  transform: rotate(180deg);
  background: url(../../img/mark.svg);
  width: 10px;
  height: 6px;
  position: absolute;
  right: 30px;
  top: 4px;
}

.navigation-bar__inner-nav {
  display: none;
  padding-left: 0;
  padding-top: 20px;
  margin-bottom: 6px;
}

.navigation-bar__checkbox {
  display: none;
  height: 100%;
  
}

.navigation-bar__checkbox:checked ~ .navigation-bar__inner-nav {
  display: block;
}

.navigation-bar__checkbox:checked + .navigation-bar__navigation-mark {
  transform: rotate(0deg);
  transition: transform .2s;
}

.navigation-bar__checkbox + .navigation-bar__navigation-mark {
  transform: rotate(180deg);
  transition: transform .2s;
}

.navigation-bar__inner-nav-item {
  display: grid;
  grid-template-columns: 20px 120px;
  grid-template-rows: 40px;
  grid-column-gap: 21px;
  padding-left: 50px;
  text-transform: none;
  color: rgba(256, 256, 256, 0.5);
}

.navigation-bar__inner-nav-item_active {
  color: #fff;
  background-color: rgba(255, 255, 255, .03);
  padding-left: 47px;
  border-left: 3px solid #6F6EFF;
}

.navigation-bar__inner-nav-link {
  margin-top: 13px;
  text-decoration: none;
  color: rgba(256, 256, 256, 0.5);
}

.navigation-bar__inner-nav-link_active {
  color: #fff;
}

.navigation-bar__logo {
  margin-top: 12px;
}

.navigation-bar__logo_item_sword {
  height: 18px;
  width: 18px;
  background-image: url(../../img/sword.svg);
}

.navigation-bar__logo_item_rocket {
  background-image: url(../../img/rocket.svg);
  height: 18px;
  width: 12px;
}

.navigation-bar__logo_item_puzzle {
  background-image: url(../../img/puzzle.svg);
  height: 18px;
  width: 14px;
}

.navigation-bar__logo_item_rook {
  background-image: url(../../img/rook.svg);
  height: 17px;
  width: 12px;
}

.navigation-bar__logo_item_cube {
  background-image: url(../../img/cube.svg);
  height: 18px;
  width: 16px;
}

.navigation-bar__logo_item_ball {
  background-image: url(../../img/ball.svg);
  height: 16px;
  width: 16px;
}

.navigation-bar__text {
  padding-left: 30px;
  margin: 0;
  color: #fff;
  text-decoration: none;
}



