.user {
  display: flex;
  flex-direction: row;
  height: 44px;
  margin-left: 14px;
}

.user__avatar {
  margin-right: 13px;
}

.user__text-container {
  margin-right: 16px;
}

.user__name {
  color: #fff;
  font-size: 14px;
  margin: 5px 0 2px;
}

.user__status {
  margin: 0;
  padding-left: 4px;
}

.user__status-text {
  color: #24CB8D;
  display: inline-block;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

.user__label {
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  border-radius: 4px;
  font-size: 11px;
  line-height: 14px;
  height: 14px;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
  margin-top: 8px;
}

.user__marker {
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: #24CB8D;
  display: inline-block;
  position: relative;
  top: -2px;
}